<div class="w-full sm:shadow bg-white sm:rounded my-4 p-4">
  <!-- ----- Question and Voting -------->
  <div class="flex flex-row items-center w-full">
    <p class="text-lg text-center flex-grow">{{ data.questionText }}</p>
    <div class="flex flex-col px-2 unselectable">
      <div class="flex flex-col items-center">
        <label
          class="h-6 leading-none text-2xl cursor-pointer transition-colors duration-200"
          (click)="upVote()"
          [ngClass]="
            data.userVote === true
              ? 'text-green-600 hover:text-green-700 upvote-animation'
              : 'text-green-300 hover:text-green-400'
          "
        >
          <fa-icon [icon]="'arrow-circle-up'"></fa-icon>
          <input type="checkbox" [checked]="data.userVote === true" (click)="$event.stopPropagation()" class="hidden" />
        </label>
        <span class="text-green-600 font-medium leading-4 cursor-default mt-1"> {{ data.upvoteCount }} </span>
      </div>
      <div class="mt-3 flex flex-col items-center">
        <span class="mb-1 text-red-600 font-medium leading-4 cursor-default"> {{ data.downvoteCount }} </span>
        <label
          class="h-6 leading-none text-2xl cursor-pointer transition-colors duration-200"
          (click)="downVote()"
          [ngClass]="
            data.userVote === false
              ? 'text-red-600 hover:text-red-700 downvote-animation'
              : 'text-red-300 hover:text-red-400'
          "
        >
          <fa-icon [icon]="'arrow-circle-down'"></fa-icon>
          <input
            (click)="$event.stopPropagation()"
            type="checkbox"
            [checked]="data.userVote === false"
            class="hidden"
          />
        </label>
      </div>
    </div>
  </div>

  <!-- ----- Answer ----- -->
  <app-answer [data]="data"></app-answer>

  <!-- ----- Bottom Bar ----- -->
  <div class="flex flex-row items-center mt-4 cursor-default">
    <ng-container *ngIf="data.ownername">
      <div>{{ data.ownername }}</div>
    </ng-container>
    <ng-container *ngIf="!data.ownername">
      <div class="italic text-gray-600">Anonymous</div>
    </ng-container>
    <div class="flex-grow"></div>
    <div class="text-sm text-gray-600 self-end font-normal">{{ data.createdAt | timeago }}</div>
  </div>
</div>
