<div
  class="w-full shadow-sm sm:shadow bg-white rounded-sm sm:rounded my-4 p-4"
  style="min-height: 16rem"
>
  <!-- ----- Question and Voting -------->
  <div class="flex flex-row items-center justify-between w-full">
    <div class="ui fluid placeholder flex-grow">
      <div class="header">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
    <div class="flex flex-col px-2">
      <div class="flex flex-col items-center unselectable">
        <div class="ui placeholder h-6">
          <div class="image w-6"></div>
        </div>
        <div class="ui placeholder w-6" style="margin-top: 0">
          <div class="line"></div>
        </div>
      </div>
      <div class="mt-2 flex flex-col items-center">
        <div class="ui placeholder w-6">
          <div class="line"></div>
        </div>
        <div class="ui placeholder h-6" style="margin-top: 0.75rem">
          <div class="image w-6"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- ----- Answer ------->
  <div class="mt-8">
    <div class="ui placeholder">
      <div class="paragraph">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
  </div>
</div>
